<header>
    <% if !current_user %>
        <div class="static"><%= link_to "Log In", login_path %></div>
        <div class="static"><%= link_to "Sign Up", new_user_path %></div>
    <% end %>
</header>

<h1>All Tools Used</h1>

<br>
<% @tools.each do |tool| %> 
    <%= link_to tool.name, tool_path(tool) %><br>
<% end %>