<h1>Tool Info</h1><br>

<h4>Name: <%= @tool.name %></h4><br>

<h4><%= @tool.name %> has been used on these projects:</h4><br>
    <% @tool.projects_tools.each do |pt| %>
        <%= link_to pt.project.title, project_path(pt.project) %>
    <% end %>



<%= button_to "Back to Tools List", tools_path, method: :get %>

