<h1>Tool Info</h1><br>

<h4>Brand: <%= @tool.brand %></h4><br>
<h4>Name: <%= @tool.name %></h4><br>

<form>
<label>Favorite?</label>
<input type="checkbox" id="favorite" name="tool[favorite]">
<input type="submit" hidden>
</form>

<%= link_to "Back to Projects", projects_path %>

