<h1>Welcome!</h1><br>

<h3>Already have an account? <div class="static"><%= link_to "Log In Here", login_path %></div></h3><br>

<h3>Wish you had an account? <div class="static"><%= link_to "Sign Up Here", new_user_path %></div></h3><br>

<h3>Just want to take a look around? <div class="static"><%= link_to "Check Out Our Users' Amazing Projects Here", projects_path %></div></h3>
