<h1>Welcome!</h1><br>

<h3>Already have an account? <%= link_to "Log In Here", login_path %></h3><br>

<h3>Wish you had an account? <%= link_to "Sign Up Here", new_user_path %></h3><br>

<h3>Just want to take a look around? <%= link_to "Check Out Our Users' Amazing Projects Here", projects_path %></h3>
