<header>
    <% if !current_user %>
        <%= button_to "Log In", login_path, method: :get %>
        <%= button_to "Create Account", new_user_path, method: :get %>
    <% end %>
</header>

<h1>Check out all of our community's amazing work!</h1>

<% @projects.each do |project| %>
    <%= link_to project.title, project_path(project) %><br>
<% end %>

