<h1>Check out all of our community's amazing work!</h1>

<% @projects.each do |project| %>
    <%= link_to project.title, project_path(project) %><br>
<% end %>

<%= button_to "Browse Digital Projects", projects_digital_path, method: :get %>
<%= button_to "Browse Traditional Projects", projects_traditional_path, method: :get %>

