<h1><%= @project.title %></h1><br>

<% if @project.photo.attached? %>
    <image class="resize" src="<%= (url_for(@project.photo)) %>">
<% end %>
<br>
<%= link_to "Edit Project", edit_project_path(@project) %>
