/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.resize {
    width: 400px;
    height: auto;
}

  body {
      background-color: rosybrown;
      font-family: 'Raleway', sans-serif;
      text-align: center;
  }

  .button {
      color: grey;
  }

  .username {
      text-align: left;
  }

  .alert {
      color: mediumblue;
  }

  #error_explanation {
      color: mediumblue;
  }

  h1 {
      font-style: bold;
  }

  footer {
      text-alight: center;
      padding: 20px;
  }

  footer a {
      margin-right: 15px;
  }

  .static {
      text-decoration: underline;
      display: inline;
  }

  a:visited, a:link, a:active {
      text-decoration: none;
      color: black;
  }


  a:hover {
      text-decoration: underline;
      cursor: pointer;
  }

  #project {
      text-decoration: underline;
  }